<mat-spinner *ngIf="!objectType"></mat-spinner>
<ng-container *ngIf="objectType">
  <h1>Type d'objets #{{objectType.objectType.objectTypeId}} :: {{objectType.objectType.name}}</h1>

  <button mat-stroked-button [routerLink]="['..', 'edit', objectType.objectType.objectTypeId]"><mat-icon>edit</mat-icon> Modifier</button>
  <button mat-stroked-button (click)="delete()" [disabled]="deleting"><mat-icon>delete</mat-icon> Supprimer</button>

  <p>{{objectType.objectType.description}}</p>

  <p *ngIf="objectType.objectType.requiresSignature"><mat-icon>gesture</mat-icon> Signature nécessaire pour l'emprunt et le rendu.</p>
  <p *ngIf="objectType.inconvStorageLocationObject"><b>Est rangé pendant JI: </b>{{storageLocationToString(objectType.inconvStorageLocationObject)}}</p>
  <p *ngIf="objectType.partOfLoanObject"><b>Fait partie du prêt: </b><a [routerLink]="['/', 'external-loans', objectType.partOfLoanObject.externalLoan.externalLoanId]">{{objectType.partOfLoanObject.externalLoan.loanTitle}}</a>, à rendre le {{objectType.partOfLoanObject.externalLoan.returnTime}} à <i>{{objectType.partOfLoanObject.externalLoan.returnPlace}}</i></p>
  <p *ngIf="objectType.storageLocationObject"><b>Est rangé hors JI: </b>{{storageLocationToString(objectType.storageLocationObject)}}</p>

  <hr>
  <h2>Objets du type</h2>


  <app-objects-list [objects]="objects"></app-objects-list>

  <hr>

  <h2>Ajout rapide d'objets</h2>
  <p>Les objets ainsi ajoutés auront tous leurs paramètres par défaut. Le suffixe de l'objet est généré à partir du préfixe de suffixe, et d'un numéro qui est incrémenté pour chaque objet ajouté. Le préfixe de suffixe est facultatif.</p>
  <p><i>Exemple: si le préfixe de suffixe est "Asus" et le numéro de départ "03", les objets auront pour nom <b>{{objectType.objectType.name}} Asus 03</b>, <b>{{objectType.objectType.name}} Asus 04</b>, ...</i></p>
  <app-quick-item-create [objectType]="objectType.objectType" (createSuccess)="refreshObjects()"></app-quick-item-create>

</ng-container>
