<h1>Aide au rangement</h1>

<mat-slide-toggle [(ngModel)]="invert" (ngModelChange)="reload()">Inverser le rangement</mat-slide-toggle>

<p *ngIf="invert">Rangement inversé : les objets sont d'abord groupés en fonction de leur rangement de destination.</p>
<!-- Granularity 3 and 6 are probably safe to ignore -->

<mat-spinner *ngIf="!tree"></mat-spinner>

<ng-container *ngIf="tree">

  <ng-container *ngFor="let line of tree.stored | keyvalue">
    <h2>Salle : {{line.key}}</h2>

    <div fxLayout="column" fxLayoutGap="20px">

      <div *ngFor="let space of line.value | keyvalue" fxFlex>
        <mat-card>
          <mat-card-title>{{space.key}}</mat-card-title>

          <table>

            <ng-container *ngFor="let loc of space.value | keyvalue">
              <ng-container *ngFor="let storRoom of loc.value.stored | keyvalue">
                <ng-container *ngFor="let storSpace of storRoom.value | keyvalue">
                  <ng-container *ngFor="let storLoc of storSpace.value | keyvalue">
                    <tr *ngFor="let item of storLoc.value">
                      <td>{{displayObject(item)}}</td>
                      <td><b>&rArr;</b></td>
                      <td>{{storRoom.key}} > {{storSpace.key}} > {{storLoc.key}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let loan of loc.value.loaned">
                <tr *ngFor="let item of loan.objects">
                  <td>{{displayObject(item)}}</td>
                  <td><b>&rArr;</b></td>
                  <td>Prêt <i>{{loan.loan.externalLoan.loanTitle}}</i> (<a
                    [routerLink]="['/', 'external-loans', loan.loan.externalLoan.externalLoanId]">voir</a>)
                  </td>
                </tr>
              </ng-container>
              <tr *ngFor="let item of loc.value.unstored">
                <td>{{displayObject(item)}}</td>
                <td><b>&rArr;</b></td>
                <td><i>emplacement inconnu</i></td>
              </tr>
            </ng-container>
          </table>
        </mat-card>

      </div>
    </div>

    <br>
    <hr>
    <br>
  </ng-container>

  <ng-container *ngFor="let line of tree.loaned">
    <h2>Prêt de <i>{{line.loan.externalLoan.loanTitle}}</i> (<a
      [routerLink]="['/', 'external-loans', line.loan.externalLoan.externalLoanId]">voir</a>)</h2>

    <div fxLayout="column" fxLayoutGap="20px">
        <mat-card>
          <table>
             <ng-container *ngFor="let storRoom of line.objects.stored | keyvalue">
                <ng-container *ngFor="let storSpace of storRoom.value | keyvalue">
                  <ng-container *ngFor="let storLoc of storSpace.value | keyvalue">
                    <tr *ngFor="let item of storLoc.value">
                      <td>{{displayObject(item)}}</td>
                      <td><b>&rArr;</b></td>
                      <td>{{storRoom.key}} > {{storSpace.key}} > {{storLoc.key}}</td>
                    </tr>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngFor="let loan of line.objects.loaned">
                <tr *ngFor="let item of loan.objects">
                  <td>{{displayObject(item)}}</td>
                  <td><b>&rArr;</b></td>
                  <td>Prêt <i>{{loan.loan.externalLoan.loanTitle}}</i> (<a
                    [routerLink]="['/', 'external-loans', loan.loan.externalLoan.externalLoanId]">voir</a>)
                  </td>
                </tr>
              </ng-container>
              <tr *ngFor="let item of line.objects.other">
                <td>{{displayObject(item)}}</td>
                <td><b>&rArr;</b></td>
                <td><i>emplacement inconnu</i></td>
              </tr>
          </table>
        </mat-card>

      </div>
    <br>
    <hr>
    <br>
  </ng-container>


  <ng-container>
    <h2>Non stockés</h2>

    <mat-card>
      <table>
          <ng-container *ngFor="let storRoom of tree.unstored.stored | keyvalue">
            <ng-container *ngFor="let storSpace of storRoom.value | keyvalue">
              <ng-container *ngFor="let storLoc of storSpace.value | keyvalue">
                <tr *ngFor="let item of storLoc.value">
                  <td>{{displayObject(item)}}</td>
                  <td><b>&rArr;</b></td>
                  <td>{{storRoom.key}} > {{storSpace.key}} > {{storLoc.key}}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let loan of tree.unstored.loaned">
            <tr *ngFor="let item of loan.objects">
              <td>{{displayObject(item)}}</td>
              <td><b>&rArr;</b></td>
              <td>Prêt <i>{{loan.loan.externalLoan.loanTitle}}</i> (<a
                [routerLink]="['/', 'external-loans', loan.loan.externalLoan.externalLoanId]">voir</a>)
              </td>
            </tr>
          </ng-container>
          <tr *ngFor="let item of tree.unstored.other">
            <td>{{displayObject(item)}}</td>
            <td><b>&rArr;</b></td>
            <td><i>emplacement inconnu</i></td>
          </tr>
      </table>
    </mat-card>

    <br>
    <hr>
  </ng-container>

</ng-container>
