<mat-form-field style="width: 95%;">
  <mat-label>{{label ? label : 'Lien du prêt'}}</mat-label>

  <ng-container *ngIf="type === 'select'">
    <mat-select [ngModel]="selected" (ngModelChange)="selectedChange.emit($event)" name="partOfLoan">
      <mat-option [value]="null">
        Aucun
      </mat-option>
      <mat-option *ngFor="let option of loans" [value]="option.externalLoan.externalLoanId">
        {{ displayLoan(option) }}
      </mat-option>
    </mat-select>
  </ng-container>
</mat-form-field>
