<mat-form-field style="width: 100%;">
  <mat-label>{{label}}</mat-label>
  <input matInput placeholder="ID utilisateur (141) ou s + numéro staff (s19)" [formControl]="selected"
         name="selectedUser" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayFunc"
                    (optionActivated)="onValueChange($event.option.value)"
                    (optionSelected)="onValueChange($event.option.value)"
                    [autoActiveFirstOption]="true">
    <mat-option *ngFor="let option of autoComplete | async"
                [value]="option">
      {{displayFunc(option)}}
    </mat-option>
  </mat-autocomplete>

  <mat-error>Aucun utilisateur trouvé avec cette identification</mat-error>
</mat-form-field>
<p *ngIf="currentProfile">Utilisateur trouvé : <b>{{displayFunc(currentProfile)}}</b></p>
