<h1>Créer un emprunt extérieur</h1>

<p>Cette page permet de rapidement créer un emprunt extérieur pour des objets dont vous ne connaissez pas encore le futur emplacement pendant JI.</p>
<p>Les types d'objets ainsi créés seront dormants jusqu'à ce que le prêt soit récupéré. À ce moment là, le formulaire de prise de possession de prêt
pourra être utilisé pour rapidement initialiser tous les objets du prêt avec leur code barre.</p>

<form>
  <h2>Informations sur le prêt</h2>

  <!--<mat-form-field>
    <mat-label>Identité du prêteur</mat-label>
    <input matInput [matAutocomplete]="inConv">
    <mat-autocomplete #inConv="matAutocomplete" [displayWith]="displayLocation">
      <mat-option *ngFor="let option of inconvStorages | async" [value]="option">
        {{ displayLocation(option) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>-->

  <mat-form-field>
    <mat-label>Date et heure de prise</mat-label>
    <input matInput required [(ngModel)]="loan.pickupTime"> <!-- todo: better datetime input... -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu de prise</mat-label>
    <input matInput> <!-- todo: afficher par défaut les infos de la location -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date et heure de retour</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lieu de retour</mat-label>
    <input matInput>
  </mat-form-field> <!-- todo: afficher par défaut les infos de la location -->

  <mat-form-field>
    <mat-label>Etat actuel</mat-label>
    <mat-select required>
      <mat-option *ngFor="let ls of loanStates" [value]="ls">{{loanStateToText(ls)}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description et détails sur le prêt</mat-label>
    <textarea matInput placeholder="Attendu: 4 ordinateurs + 4 chargeurs"></textarea>
  </mat-form-field>

  <br>

  <h2>Types d'objets à générer</h2>
  <p>Pour les objets empruntés, il est une bonne pratique de créer un type d'objet séparé, et ce chaque année. En effet, cela facilite la tracabilité d'une année sur l'autre.
    Si vous empruntez une camera chaque année, il est donc préférable de créer un nouveau type d'objet Camera chaque année. Le type d'objet de l'année précédente, s'il était
    correctement lié à un prêt, devrait ne plus apparaître, le prêt étant au sein d'un autre événement désormais terminé.</p>
  <p>Ces informations sont facultatives. Vous pouvez les modifier ultérieurement si vous ne les connaissez pas entièrement.</p>

  <div fxLayout="row" fxLayoutGap="2em">

    <mat-form-field fxFlex="auto">
      <mat-label>Nom du type d'objet</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field fxFlex="auto">
      <mat-label>Description du type d'objet</mat-label>
      <input matInput>
    </mat-form-field>

    <button fxFlex="initial" mat-icon-button color="accent"><mat-icon>add</mat-icon></button>
    <button fxFlex="initial" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>

  </div>

  <br>

  <div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center center">
    <button fxFlex="1 1 30%" type="submit" mat-raised-button color="warn">Créer et scanner les objets</button>
    <button fxFlex="1 1 30%" type="submit" mat-raised-button color="accent">Créer et rester sur cette page</button>
  </div>

</form>
