<ng-container [ngSwitch]="object.object.status">
  <p *ngSwitchCase="ObjectStatus.IN_STOCK">
    Indiquez un utilisateur pour ouvrir un prêt.
  </p>
  <p *ngSwitchCase="ObjectStatus.LOST">
    Indiquez l'utilisateur ayant ramené l'objet pour clore la perte.
  </p>
  <p *ngSwitchCase="ObjectStatus.OUT">
    Indiquez l'utilisateur pour clore le prêt, déclarer une perte, ou indiquer un dépot d'objet.
  </p>
  <p *ngSwitchCase="ObjectStatus.RESTING">
    Indiquez l'utilisateur pour clore le prêt ou déclarer la récupération d'un objet déposé.
  </p>
</ng-container>

<p *ngIf="object.objectType.requiresSignature"><b><mat-icon>warning</mat-icon> ATTENTION : </b>Une signature est requise pour prêter l'objet. Ne laissez pas partir la personne avant d'avoir la signature.</p>

<form>
  <app-select-user (selectedUser)="lendTo = $event"></app-select-user>

  <ng-container *ngIf="lendTo">
    <ng-container [ngSwitch]="object.object.status">
      <ng-container *ngSwitchCase="ObjectStatus.IN_STOCK">
        <button [disabled]="sending" type="submit" (click)="declareLoaned()" mat-stroked-button
                color="accent" style="width: 100%;">Ouvrir un prêt
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="ObjectStatus.LOST">
        <button [disabled]="sending" type="submit" (click)="declareLoaned()" mat-stroked-button
                color="accent" style="width: 50%;">Déclarer retrouvé et prêter
        </button>
        <button [disabled]="sending" type="submit" (click)="declareInStock()" mat-stroked-button
                style="width: 50%;">Déclarer retrouvé et stocker
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="ObjectStatus.OUT">
        <button [disabled]="sending" type="submit" (click)="declareInStock()" mat-stroked-button
                color="accent" style="width: 50%;">Fermer le prêt
        </button>
        <button [disabled]="sending" type="submit" (click)="declareLoaned()" mat-stroked-button
                color="primary" style="width: 50%;">Transférer le prêt
        </button>
        <button [disabled]="sending" type="submit" (click)="declareResting()" mat-stroked-button
                style="width: 50%;">Déposer quelque part
        </button>
        <button [disabled]="sending" type="submit" (click)="declareLost()" mat-stroked-button
                color="warn" style="width: 50%;">Déclarer perdu
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="ObjectStatus.RESTING">
        <button [disabled]="sending" type="submit" (click)="declareInStock()" mat-stroked-button
                color="accent" style="width: 50%;">Fermer le prêt
        </button>
        <button [disabled]="sending" type="submit" (click)="declareLoaned()" mat-stroked-button
                style="width: 50%;">Récupérer
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
