<mat-toolbar role="heading" color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isLoggedIn && (isHandset$ | async)">
    <mat-icon *ngIf="isLoggedIn" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <a mat-button [routerLink]="['/']">Inventaire Japan Impact</a>

  <app-event-selector *ngIf="isLoggedIn"></app-event-selector>


  <span class="spacer"></span>

  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Déconnexion
  </button>
</mat-toolbar>

<mat-sidenav-container style="min-height: calc(100% - /* hardcoded toolbar size */ 64px);">


  <mat-sidenav #drawer class="sidenav"
               style="min-width: 15%;"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="isLoggedIn && ((isHandset$ | async) === false)">

    <app-sidebar [url]="subUrl"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="20px" style="margin-top: 25px;">

      <div fxFlex="1 1 95%" fxFlex.lt-sm="1 1 98%">
        <router-outlet #outlet="outlet" (activate)="activateRoute($event, outlet)"></router-outlet>
        <br>
        <br>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



