<h2 mat-dialog-title>{{isUpdate ? 'Modifier un' : 'Créer un nouveau' }} stockage</h2>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<form mat-dialog-content (ngSubmit)="submit($event)" #ngform="ngForm" *ngIf="storageLocation ; else loading">

  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Nom" [(ngModel)]="storageLocation.storageName" name="name" required maxlength="100">
  </mat-form-field>

  <app-select-storage label="Stockage parent" [(selected)]="storageLocation.parentStorageId" [excludeChildrenOf]="storageLocation.storageId" (selectedObjectChange)="parent = $event"></app-select-storage>

  <mat-checkbox name="inConv" [ngModel]="parent ? parent.event !== undefined : inConv" (ngModelChange)="inConv = $event" *ngIf="eventId"
                [disabled]="storageLocation.parentStorageId"
                [matTooltip]="storageLocation.parentStorageId ? 'Vous ne pouvez changer cette valeur que pour les stockages de premier niveau' : ''"
  >
    Lieu de stockage durant la convention
  </mat-checkbox>

  <br><br>

  <button mat-raised-button color="primary" type="submit" style="width: 100%;"
          [disabled]="sending || !ngform.form.valid">
    {{isUpdate ? 'Modifier' : 'Créer'}}
    <mat-progress-spinner *ngIf="sending" mode="indeterminate" diameter="20" class="spinner"></mat-progress-spinner>
  </button>

</form>
