<form [style]="fullWidth ? 'margin-left: 16px; margin-right: 16px' : ''">
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Filtrer..." [(ngModel)]="dataSource.filter" name="filter">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<table mat-table [dataSource]="dataSource" [class.mat-elevation-z2]="!fullWidth" style="width: 100%;" matSort>
  <ng-container matColumnDef="assetTag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset Tag </th>
    <td mat-cell *matCellDef="let element" > {{dataAccessor(element, 'assetTag')}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Etat </th>
    <td mat-cell *matCellDef="let element"> <app-status-label [status]="element.object.status"></app-status-label> </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
    <td mat-cell *matCellDef="let element"> {{dataAccessor(element, 'name')}} </td>
  </ng-container>

  <ng-container matColumnDef="inConvStorage">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stockage </th>
    <td mat-cell *matCellDef="let element"> {{dataAccessor(element, 'inConvStorage')}} </td>
  </ng-container>

  <ng-container matColumnDef="plannedUse">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisation Prévue </th>
    <td mat-cell *matCellDef="let element"> {{dataAccessor(element, 'plannedUse')}} </td>
  </ng-container>

  <ng-container matColumnDef="reservedFor">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Réservé pour </th>
    <td mat-cell *matCellDef="let element">  {{dataAccessor(element, 'reservedFor')}}</td>
  </ng-container>

  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisateur </th>
    <td mat-cell *matCellDef="let element"> {{dataAccessor(element, 'user')}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [routerLink]="['/', 'objects', 'update', getObjectId(element)]"><mat-icon>edit</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr class="hover" mat-row *matRowDef="let row; columns: columns;" [routerLink]="['/', 'objects', getObjectId(row)]"></tr>

</table>
<mat-paginator [class.mat-elevation-z2]="!fullWidth"  [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons style="position: sticky;"></mat-paginator>
