<mat-spinner *ngIf="!location"></mat-spinner>

<ng-container *ngIf="location">
  <h1>Emplacement {{location.room}} > {{location.space}} > {{location.location}}</h1>

  <p>Cet emplacement est un emplacement de stockage
    <b>{{location.inConv ? 'dans la convention' : 'hors de la convention'}}</b>.</p>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="25px">
    <div fxFlex>
      <mat-card>
        <mat-card-title>Liste des objets présents</mat-card-title>

        <table mat-table style="width: 100%;" [dataSource]="items | async">
          <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef> Tag</th>
            <td mat-cell *matCellDef="let elem"> {{elem.object.assetTag}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom</th>
            <td mat-cell *matCellDef="let elem"> {{elem.objectType.name}} {{elem.object.suffix}}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Etat</th>
            <td mat-cell *matCellDef="let elem"> {{statusToString(elem.object.status)}} </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type</th>
            <td mat-cell *matCellDef="let elem"> {{isInherited(elem) ? 'Emplacement hérité' : 'Emplacement fixé sur l\'objet'}} </td>
          </ng-container>
          <ng-container matColumnDef="see">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let elem">
              <button [routerLink]="['/', 'objects', elem.object.objectId]" mat-button>Voir</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['tag', 'name', 'status', 'type', 'see']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['tag', 'name', 'status', 'type','see'];"></tr>

        </table>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card>
        <mat-card-title>Déplacement rapide</mat-card-title>

        <app-quickmove [locationId]="id" (success)="refresh()"></app-quickmove>
      </mat-card>
    </div>
  </div>

  <br>

</ng-container>
